body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#shopping-list-app {
  text-align: center; }
  #shopping-list-app img#logo {
    height: 15vmin;
    margin: 5vmin 7vmin 3vmin; }
  #shopping-list-app header#header {
    margin-bottom: 60px; }

#unordered-list {
  list-style-type: none;
  padding: 0; }
  #unordered-list .list-item-parent:hover i {
    opacity: 100; }
  #unordered-list .list-item-parent i {
    margin: auto;
    font-size: 2.5rem;
    flex-direction: column;
    display: flex;
    opacity: 0; }
    #unordered-list .list-item-parent i:nth-child(1), #unordered-list .list-item-parent i:nth-child(3) {
      cursor: pointer; }
    #unordered-list .list-item-parent i:nth-child(1):after {
      content: "complete";
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      padding-top: 10px;
      opacity: 0; }
    #unordered-list .list-item-parent i:nth-child(3):after {
      content: "delete";
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      padding-top: 10px;
      opacity: 0; }
    #unordered-list .list-item-parent i:nth-child(1):hover {
      color: green; }
      #unordered-list .list-item-parent i:nth-child(1):hover:after {
        opacity: 100; }
    #unordered-list .list-item-parent i:nth-child(3):hover {
      color: red; }
      #unordered-list .list-item-parent i:nth-child(3):hover:after {
        opacity: 100; }
  #unordered-list .list-item {
    width: 30%;
    margin: auto auto 30px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px; }
    #unordered-list .list-item .name {
      font-size: 26px; }
    #unordered-list .list-item .image {
      max-width: 90%;
      padding-bottom: 20px; }
    #unordered-list .list-item .division-one, #unordered-list .list-item .division-two {
      display: flex; }
      #unordered-list .list-item .division-one a, #unordered-list .list-item .division-one p, #unordered-list .list-item .division-two a, #unordered-list .list-item .division-two p {
        width: 100%; }
