body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#shopping-list-app {
  text-align: center;
  background: gainsboro; }
  @media (max-width: 767.98px) {
    #shopping-list-app {
      background-size: cover;
      background: url("../res/sunlight-background.jpg") repeat-y center; } }
  #shopping-list-app img#logo {
    height: 15vmin;
    margin: 5vmin 7vmin 3vmin; }
  #shopping-list-app header#header {
    margin-bottom: 60px; }
  #shopping-list-app footer {
    margin-top: 35px; }
    #shopping-list-app footer .return-to-top {
      position: absolute;
      right: 6px;
      font-size: 110%; }

#unordered-list {
  list-style-type: none;
  margin: auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9) radial-gradient(rgba(182, 185, 189, 0.5), transparent);
  padding: 12px; }
  #unordered-list .list-item-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 0; }
    #unordered-list .list-item-wrapper:nth-child(odd) {
      border-bottom: 1px solid rgba(187, 68, 48, 0.5); }
    #unordered-list .list-item-wrapper:nth-child(even) {
      border-top: 0; }
    #unordered-list .list-item-wrapper:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    #unordered-list .list-item-wrapper:last-of-type {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }
  #unordered-list .list-item.reduced {
    padding: 4px;
    width: 100%;
    border-bottom: 1px solid #adb5bd; }
    #unordered-list .list-item.reduced .list-item-inner {
      justify-content: space-between; }
    #unordered-list .list-item.reduced:last-of-type {
      border-bottom: none; }
    #unordered-list .list-item.reduced p {
      margin: 0; }
      #unordered-list .list-item.reduced p.name {
        margin-left: 0.25rem; }
      #unordered-list .list-item.reduced p.remove {
        margin-right: 0.35rem; }
        #unordered-list .list-item.reduced p.remove .small {
          -webkit-user-select: none;
          /* Safari */
          -moz-user-select: none;
          /* Firefox */
          -ms-user-select: none;
          /* IE10+/Edge */
          user-select: none;
          /* Standard */
          cursor: pointer; }
        #unordered-list .list-item.reduced p.remove:active {
          text-decoration: line-through; }
  #unordered-list .list-item.large {
    margin: auto auto 30px;
    width: 100%;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px; }
    #unordered-list .list-item.large .name {
      font-size: 26px; }
    #unordered-list .list-item.large .remove {
      color: red;
      margin: 0; }
      #unordered-list .list-item.large .remove:hover {
        font-size: 120%; }
  #unordered-list .list-item-parent i {
    margin: auto;
    font-size: 2.5rem;
    flex-direction: column;
    display: flex;
    opacity: 0; }
    #unordered-list .list-item-parent i:nth-child(1), #unordered-list .list-item-parent i:nth-child(3) {
      cursor: pointer; }
    #unordered-list .list-item-parent i:nth-child(1):after {
      content: "complete";
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      padding-top: 10px;
      opacity: 0; }
    #unordered-list .list-item-parent i:nth-child(3):after {
      content: "delete";
      font-size: 16px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      padding-top: 10px;
      opacity: 0; }
    #unordered-list .list-item-parent i:nth-child(1):hover {
      color: green; }
      #unordered-list .list-item-parent i:nth-child(1):hover:after {
        opacity: 100; }
    #unordered-list .list-item-parent i:nth-child(3):hover {
      color: red; }
      #unordered-list .list-item-parent i:nth-child(3):hover:after {
        opacity: 100; }
  #unordered-list .list-item-parent:hover i {
    opacity: 100; }

.oranges-image {
  width: 100px; }

#item-creator-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto; }
  #item-creator-form label {
    padding: 5px; }
    #item-creator-form label input {
      width: 100%; }
  #item-creator-form input[type=submit] {
    padding: 5px;
    width: 100px;
    margin: auto; }

#item-creator input {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #dae0e5;
  border-radius: 10px;
  padding: 6px 6px 6px 10px;
  outline: 0;
  width: 85%;
  height: 46px; }
  #item-creator input::placeholder {
    font-style: italic;
    font-size: 90%; }

#item-creator .form-action-button {
  margin: 15px 15px 25px 15px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #adb5bd;
  border-radius: 25px;
  padding: 3px 36px;
  outline: 0; }
  #item-creator .form-action-button:active {
    border: 1px solid rgba(242, 184, 81, 0.5);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05); }

main#main .modals #settings-modal {
  position: absolute;
  top: 5px;
  right: 5px; }
  main#main .modals #settings-modal button {
    border: none; }
  main#main .modals #settings-modal i {
    font-size: 20px; }

.list-item-modal .item-attribute input {
  height: 10%;
  width: 50%; }

.list-item-modal .item-attribute p {
  margin-right: 6px; }

.list-item-modal .item-attribute.notes p {
  margin-bottom: 0; }
