#shopping-list-app {
  text-align: center;
  //height: 100vh;

  background: gainsboro;

  @include media-breakpoint-down(sm) {
    background-size: cover;
    background: url("../res/sunlight-background.jpg") repeat-y center;
  }

  img#logo {
    height: 15vmin;
    margin: 5vmin 7vmin 3vmin;

    //@media (prefers-reduced-motion: no-preference) {
    //  animation: App-logo-spin infinite 20s linear;
    //}

  }

  header#header {
    margin-bottom: 60px;
  }

  footer {
    margin-top: 35px;

    .return-to-top {
      position: absolute;
      right: 6px;
      font-size: 110%;
    }
  }
}


//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}

