#item-creator-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;

  label {
    padding: 5px;

    input {
      width: 100%;
    }
  }

  input[type=submit] {
    padding: 5px;
    width: 100px;
    margin: auto;
  }

}

#item-creator {

  input {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.10);
    border: 1px solid $border-odd;
    border-radius: 10px;
    padding: 6px 6px 6px 10px;
    outline: 0;

    width: 85%;
    height: 46px;

    &::placeholder {
      font-style: italic;
      font-size: 90%;
    }
  }

  .form-action-button {
    margin: 15px 15px 25px 15px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid $border-even;
    border-radius: 25px;
    padding: 3px 36px;
    outline: 0;

    &:active {
      $light-logo-colour: rgba(242,184,81, 0.5);
      border: 1px solid $light-logo-colour;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
      //color: $light-logo-colour;
    }
  }
}
