#unordered-list {
  list-style-type: none;
  padding: 0;

  .list-item-parent:hover i {
    opacity: 100;
  }

  .list-item-parent i {
    margin: auto;
    font-size: 2.5rem;
    flex-direction: column;
    display: flex;

    opacity: 0;

    &:nth-child(1), &:nth-child(3) {
      cursor: pointer;
    }

    &:nth-child(1) {
      &:after {
        content: "complete";
        font-size: 16px;
        font-family: $font-family;
        padding-top: 10px;
        opacity: 0;
      }
    }

    &:nth-child(3) {
      &:after {
        content: "delete";
        font-size: 16px;
        font-family: $font-family;
        padding-top: 10px;
        opacity: 0;
      }
    }

    &:nth-child(1):hover {
      color: green;

      &:after {
        opacity: 100;
      }
    }

    &:nth-child(3):hover {
      color: red;

      &:after {
        opacity: 100;
      }
    }
  }

  .list-item {

    &:before {

      //content: "\f00c";
      //font-family: $font-awesome;
      //
      //position: absolute;
      //left: 25vmin;
      //
      //margin-top: 7vmin;
      //font-size: 2rem;
      //color: rgba(0, 0, 0, 0.8);

    }

    &:after {

      //content: "\f00d";
      //font-family: $font-awesome;
      //
      //position: absolute;
      //left: 25vmin;
      //
      //margin-top: 7vmin;
      //font-size: 2rem;
      //color: rgba(0, 0, 0, 0.8);

    }

    width: 30%;
    margin: auto auto 30px;

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    padding: 20px;

    .name {
      font-size: 26px;
    }

    .image {
      max-width: 90%;
      padding-bottom: 20px;
    }

    .division-one, .division-two {
      display: flex;

      a, p {
        width: 100%;
      }
    }

  }

}