$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$font-awesome: 'FontAwesome';

// Colour scheme: https://coolors.co/231f20-bb4430-7ebdc2-f3dfa2-efe6dd

$raisin-black: #231F20;
$international-orange-golden-gate-bridge: #BB4430;
$middle-blue: #7EBDC2;
$medium-champagne: #7EBDC2;
$linen: #7EBDC2;